body {
    font-family: Arial, sans-serif;
}
/* Target the container element */
.container {
    padding-top: calc(100vh - /* height of your header */);  /* Adjust based on header height */
  }
/* Target the header element */
header {
    /* Set background image using the path to your image */
    background-image: url("images/20240412_fishing.jpg");
  
    /* Adjust background properties as needed */
    background-repeat: no-repeat;  /* Prevent image tiling */
    background-position: center;  /* Center image horizontally */
    background-size: cover;       /* Scale image to fill the header */
  }

header h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

header p.lead {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.social-links a {
    color: white;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #d4d4d4;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

footer {
    border-top: 1px solid #eaeaea;
    margin-top: 2rem;
    padding-top: 1rem;
}

footer p {
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #6c757d;
}
